.__text_input,.__textarea_input{

    width: 20%;
    margin: 8px 0;
    padding: 12px 10px 15px 40px;
    font-size: 0.9em;
    color:#495057;

    border: 1.5px solid #dc3545;
    border-radius: 5px;
    box-sizing:border-box;

    /*background: url('email-icon.jpg') no-repeat 12px 14px;
    background-size: 16px 16px;
    padding-left: 42px;*/

}  
.__textarea_input{
    background: url('textarea.png') no-repeat 12px 13px;
    background-size: 16px 16px;
    padding-left: 42px;

}

.__text_input:focus, .__textarea_input:focus{
    border: 3px solid #049b82;
    border-radius: 6.5px;
}
