body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

body {
  background: #ccc;
}

table {
  border: 1px solid red;
  margin: 5px 0;
  
  
    display: block;
    overflow-x: auto;
    white-space: nowrap;

}
td,tr{
  border: 1px solid red;
}