.__Login,.__Submit,.__Reset,.__Cancel{
    border: 1px solid #dc3545;
    border-color: #dc3545;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 4px 2px;
    cursor: pointer;

    background-color: #dc3545;
    color:white;

    font-size:1em;
    text-decoration: initial;
}
